// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Example
$v-font-size: 14px;

$v-font-family:sans-serif;

$v-background-color: hsl(194, 100%, 95%);

$v-focus-color: #007599 ;

$v-gradient: v-linear 50%;


@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
	.v-button-saveButton {
		@include valo-button-style($background-color: hsl(194, 100%, 40%));
		color:white;
		text-align:center;
  		font-weight:bold;
  	}
	.v-button-cancelButton {
		@include valo-button-style($background-color: hsl(30, 100%, 50%));
		color: white;
		text-align:center;
		font-weight:bold;
 	}
 	.v-button-changeButton {
		@include valo-button-style($background-color: hsl(194, 100%, 40%));
		color:white;
		text-align:center;
  		font-weight:bold;
  	}
	.v-label-ncTitle {
		font-size: 20px;
  		font-weight:bold;
  		color:black;
  		text-align:center;
  	}
  	.v-label-titleLabel {
  		color:white;
  		background-color:gray;
		text-align:center;
  		font-weight:bold;
  	}
  	.v-label-accessTitle {
		font-size: 20px;
  		font-weight:bold;
  		color:black;
  		text-align:center;
  	}
  	.v-label-cAdminLb {
		font-size: 16px;
  		font-weight:bold;
  		color:black;
  		text-align:center;
  	}
  	.v-label-ipTitle {
		font-size: 16px;
  		font-weight:bold;
  		color:black;
  		text-align:center;
  	}
    .v-label-icTitle {
		font-size: 20px;
  		font-weight:bold;
  		color:black;
  		text-align:center;
  	}
	.v-label-niTitle {
		font-size: 16px;
		font-weight:bold;
		color:black;
		text-align:right;
  }
    .v-label-ni01Title {
	  	font-size: 16px;
	  	font-weight:bold;
	  	color:black;
	  	text-align:center;
  }
  	.v-label-Ipv4 {
  		font-weight:bold;
  		font-size: 15px;
  		color:black;
  		text-align:left;
  }
  	.v-label-Ipv6 {
		font-weight:bold;
		font-size: 15px;
		color:black;
		text-align:left;
  }
  	.v-label-Ipv41 {
  		font-weight:bold;
  		font-size: 15px;
  		color:black;
  		text-align:left;
  }
  	.v-label-Ipv61 {
  		font-weight:bold;
  		font-size: 15px;
  		color:black;
  		text-align:left;
  }
}